

<div  (wheel)="onScroll()"   (window:resize)="onResize($event)" id="scroll_cont" class="main_container"  #main> 
    <div [style.position]="changePosition"   class="container-fluid main_container " >

            <div class="col-12 top_img" [style.background-position-y]="scrollImage+'vh'"
             [style.line-height]="positionText+'vh'" [style.background-position-x]="centerImage+'%'">
                <p class="top_img_logo">Galéria</p>                 
            </div> 
            
           
        </div>
           
    
        <div class="text_cont container-fluid">
          
          <mat-form-field class="example-chip-list" appearance="fill">  
    
            <mat-label>Kategórie</mat-label>
            <mat-chip-list #chipList aria-label="Výber kategórii" class="chip_input">
              <mat-chip
                *ngFor="let category of categories"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(category)">
                {{category}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input   class="filter_input"
              
                matInput
                placeholder="Vyfiltruj obrázky podľa kategórie"
                #categoryInput
                [formControl]="categoryCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event,categoryInput)"
               >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="selected($event)"
            >
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div >
           <div class="col-12 image_item" *ngFor="let image of fiteredImages">
             {{image.category}}
             {{image.id}}</div>
          </div>
         
        </div>

    
    
</div>