

.example-chip-list{    
    
}
.fullHeight{
    height: 30vh;
}
.fitHeight{
    height: fit-content;
}
.text_cont{
    position: absolute;  
    text-align: center; 
    background-color: white;        
    width: 100%;
    overflow: hidden;
    left: 0;        
    margin: 0;
    padding: 0;   
    top: 70vh;
    
}
.imgs_cont{
padding-bottom: 3rem;
}
.bigImgContainer{
    position: fixed;
    width: fit-content;    
    height: fit-content;   
    transition: 0.65s ease-in;
    visibility: hidden;       
    z-index: 100; 
    top: 12vh;        
}
.bigImg {      
    display: block;      
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    border-radius: 0.5rem;   
    max-height:80vh ;
    
}
.cancel_btn {
    position: absolute;
    top: 2%;
    font-size: 1.9rem;   
    font-family: 'Shadows Into Light', cursive;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    outline: none;        
}
.cancel_btn:focus {
    color: white;
background: rgba(255, 0, 0, 0.664);
}
.image_item{
    height: fit-content;    
    margin-top: 2rem;
}

.img_background{
    transition: 0.3s;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-position: center;
    width: auto !important;
    height: 20rem;    
    border-radius: 0.3rem;
    cursor: pointer;
   
}





.example-chip-list{  
     top: 0vh; 
     margin: 1rem 0;
     
            
 /* width on resize .ts :)  */   
     height: fit-content;
     border: 2px solid rgb(49, 49, 49);     
     border-radius: 0.3rem;
     background-color: rgba(71, 70, 70, 0.767) !important;

}

.image_item{
    color: black;
    
}

.main_container{
width: 100% !important;
top: 0vh;
height: 100vh;
position: absolute;
padding-right:0 !important;
padding-left:0 !important;
margin-right:auto !important;
margin-left:auto !important;
background-color: white;
}

.top_img{
    position: absolute;
    background-image: url("/assets/gallery.jpg");    
    top: 0%; /* currentTop*/    
    transition: 0.05s;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
     /* responsive changing*/
    background-size: cover;
}
.top_img_logo{    
    top: 40%;
    font-family: Marcellus;
    font-size: 3.6rem;             
}
h1 {
    color: black;
}
.chip_input{
    border-bottom: 1px solid green;
}
.main_container {
    height: 100%;
    z-index: -5;
}

