



<div class="sidenav_container"  >
  
  
  <mat-sidenav-container   class="sidenav-container sidenav_cont">
    <mat-sidenav   #sidenav autoFocus="false" mode="push"  [(opened)]="isMenuOpen" class="sidenav">
      <a [ngClass]="{'active_nav': currentRoute === '/domov'}"  mat-button routerLink="/domov" >Domov</a>
      <a [ngClass]="{'active_nav': currentRoute === '/kto-sme'}"  mat-button routerLink="/kto-sme">O nás</a>
      <a [ngClass]="{'active_nav': currentRoute === '/otvaracie-hodiny'}"  mat-button routerLink="/otvaracie-hodiny">Otváracie hodiny</a>
      <a [ngClass]="{'active_nav': currentRoute === '/rezervacie'}"  mat-button  routerLink="/rezervacie">Rezervácia</a>
      <a [ngClass]="{'active_nav': currentRoute === '/galeria'}"  mat-button  routerLink="/galeria">Galéria</a>
      <a [ngClass]="{'active_nav': currentRoute === '/mapa'}"  mat-button routerLink="/mapa">Mapa</a>
      <a [ngClass]="{'active_nav': currentRoute === '/kontakt'}"  mat-button routerLink="/kontakt">Kontakt</a>
    </mat-sidenav> 
    <mat-sidenav-content  (scroll)="checkMyHeight($event)">
      <div class="loading-overlay" *ngIf="loading" [ngClass]="{'d-none': !loading}">  
        <mat-spinner [diameter]=diameter ></mat-spinner>
      </div>
        <div (window:resize)="onResize($event)" (window:resize)="logoHandler($event)"></div>
        <mat-toolbar>  
          
          <div>
            <button *ngIf="openSidenavFlag"  mat-button class="menu-button" (click)="sidenav.toggle()">
              <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
            </button>
        
            <a routerLink="/domov" >
            
                <span class="app-title" [style.font-size]="logoFontSize+'rem'" [style.margin-left]="leftSpace+'rem'" >Next Coffee</span>     
              <img [style.width]="logoWidth+'%'"  class="logo_img" src="../assets/coffeeimg.png" alt="coffee">
            </a>
          </div>
          
          <ul  *ngIf="!openSidenavFlag" class="nav-content mr-4 ">
           <li ><a [ngClass]="{'active_nav': currentRoute === '/domov'}"  class="active_nav"   routerLink="/domov">Domov</a></li>
           <li><a [ngClass]="{'active_nav': currentRoute === '/kto-sme'}"   routerLink="/kto-sme">O nás</a></li>
           <li><a [ngClass]="{'active_nav': currentRoute === '/otvaracie-hodiny'}"   routerLink="/otvaracie-hodiny">Otváracie hodiny</a></li>            
            <li><a [ngClass]="{'active_nav': currentRoute === '/rezervacie'}"   routerLink="/rezervacie">Rezervácia</a></li>
            <li><a [ngClass]="{'active_nav': currentRoute === '/galeria'}"   routerLink="/galeria">Galéria</a></li>
            <li><a [ngClass]="{'active_nav': currentRoute === '/mapa'}"   routerLink="/mapa">Mapa</a></li>
            <li ><a [ngClass]="{'active_nav': currentRoute === '/kontakt'}"   routerLink="/kontakt">Kontakt</a></li>
          </ul>
        
          
          
        </mat-toolbar>
        <router-outlet class="change_content"></router-outlet>
      
    </mat-sidenav-content>  
    
    
  </mat-sidenav-container>
  </div>



  