
<div class="main_cont">
    

        <div [style.height]="backImgHeight+'vh'" [style.width]="backImgWidth+'%'" [style.background-position-x]="xPosImg+'%'" [style.background-position-y]="yPosImg+'%'" class="background_cont"></div>
        <div  [style.left]="scheduleLeft+'%'" [style.width]="scheduleWidth" [style.width]="scheduleFitWidth"  [style.left]="moveOnLoad+'%'" [style.top]="moveOnLoadTop+'%'" class="schedule_cont">
            <h1 [style.font-size]="scheduleHeadingFontSize+'rem'">Otváracie hodiny</h1>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"   class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'"  class="text_higlight"> Pondelok</span>-  08:00- 22:00</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el">  <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Utorok</span>- 08:00- 22:00</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Streda</span>- 08:00- 22:00</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Štvrtok</span>- 08:00- 22:00</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Piatok</span>- 09:00- 03:00*</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Sobota</span>- 09:00- 02:00*</p>
            <p [style.font-size]="scheduleTimeFontSize+'rem'"  class="schedule_el"> <span [style.font-size]="scheduleFontSize+'rem'" class="text_higlight"> Nedeľa</span>- 09:00- 22:00</p>
            <a [style.font-size]="scheduleFontSize+'rem'" mat-button  routerLink="/rezervacie"  class="schedule_el res_button">Rezervovať, teraz!</a>
            
            <small class="mini_alert schedule_el">*Po dohode, sa čas môže upraviť</small>
        </div>

        <div [style.top]="logoContTop+'%'"   class="logo_cont">
            <div class="logo_part">
                <span class="logo_name"  [style.font-size]="logoFont+'rem'">Next Coffe</span> 
                <img (window:resize)="onResize($event)"  [style.width]="logoWidth+'%'"  class="logo_img"  src="../assets/coffeeimg.png" alt="coffee">        
                    
            </div>     
            <small class="logo_subtext logo_part">Since 2021</small>
        </div> 
    
</div>

