<div class="container-fluid main_cont" (window:resize)="onResize($event)">
    <div [style.background-position-x]="imageXpos+'%'" [style.background-position-y]="imageYpos+'%'" class="img_place">
        <p class="top_img_logo">Kto sme?</p>  
    </div>
    <div class="text_cont">
        <div class="row mt-4 ml-2">
            <div  class="col-xl-5 col-lg-4 col-md-4  col-sm-10  col-xm-8 mt-1">   
                <h2 class="text_title">Kaviareň</h2>
                <p class="text_item">                    
                    <strong>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </strong> Magni voluptate minus eos! Aliquid ex perspiciatis sunt sed, error labore reiciendis quam deserunt ea sint vel pariatur laudantium repellat incidunt voluptatem.
                    Nihil aspernatur natus eaque accusantium quas, at minima quis est dolore distinctio ut vitae facere quisquam facilis tempore magni rem? Magni doloremque, quaerat cum est natus dolores maxime a iure!
                    Nulla, qui erroamet consectetur adipisicing elit. Molestiae voluptatum dolorem nam non soluta officia excepturi! Impedit laborum dicta nulla ex aperiam doloribus quis, et repellendus labore iure nam iusto.
                    Aliquam repellendus accusantium, facere exercitatie quasi nisi ex tempora libero molestiae iure sapiente vero eos, facilis eligendi assumenda magnam magni quod, obcaecati nesciunt praesentium. Omnis iure repellat nemo?
                    Nihil dolores quam veniam quod distinctio illum consequatur accusamus non reprehenderit omnis assumenda excepturi ipsum quidem laudantium aspernatur sapiente ducimus dolorum, est facilis beatae aliquam autem possimus quia vero. Rerum.
                    Sunt eum nulla temporibus aperiam ab accusamus dignissimos repudiandaeicia qui omnis nobis consequuntur quidem, nostrum odit maxime, soluta a!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4  col-sm-10  col-xm-8 mt-1 ">
                <h2 class="text_title">Pub pre mladých</h2>
                <p class="text_item">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Magni voluptate minus eos! Aliquid ex perspiciatis sunt sed, error labore reiciendis quam deserunt ea sint vel pariatur laudantium repellat incidunt voluptatem.
                    Nihil aspernatur natus <strong> eaque accusantium quas, at minima quis est dolore distinctio</strong> ut vitae facere quisquam facilis tempore magni rem? Magni doloremque, quaerat cum est natus dolores maxime a iure!
                    Nullaiatis eveniet blanditiis distinctio, ipsum nisi <strong> non cum dolore eius repellendus necessitatibus quos, nihil cumque!</strong> Nesciunt magni rerum consequatur recusandae delectus quas! Distinctio.
                    Similique dignissimos debitis, ab tenetur accusantium minus optio est commodi delectus corporis e
            </div>

            <div class="col-xl-3 col-lg-4 col-md-4  col-sm-10  col-xm-8 mt-1 ">
                <h2 class="text_title">Reštaurácia</h2>
                <p class="text_item">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Magni voluptate minus eos! <strong>Aliquid ex perspiciatis sunt sed, error labore reiciendis quam deserunt ea sint vel pariatur </strong>laudantium repellat incidunt voluptatem.
                    Nihil aspernatur natus  eaque <strong>accusantium quas, at minima quis est dolore distinctio</strong> ut vitae facere quisquam facilis tempore magni rem? Magni doloremque, quaerat cum est natus dolores maxime a iure!
                    Nulla, qui or sit amet consectetur adipisicing elit. Minima, nemo cupiditate? Ad a accusantium rerum suscipit autem laudantium nobis aspernatur, sint nihil accusamus. Commodi iste non esse, sed magni rerum?
                    Quaerat voluptatem quae dolorem. Cum officia dolorum eaque, quia facere atque aut inventore quis tenetur, alias id ratione vero architecto, necessitatibus maiores minus aliquid facilis! Nisi, voluptatem modi? Quis, fugiat!
                </p>
            </div>
        </div>
    </div>
</div>
