.container-fluid{    
    color: rgb(194, 192, 192);   
    padding: 0 !important;   
    margin: 0!important;
    width: 100% !important; 
    position: relative;      
    top: 0vh;   
    
     
}
.test{
    width: 100%;
    height: 2rem;
    border: 2px solid blue;
}
.info_container{      
    position: absolute;
    margin: 0 !important;    
    padding: 0 !important;
    width: 100% !important;  
    z-index: -1;
    top: 25vh;
    
}
.formAsk {
    width: 100%;
    text-align: left;  
    transition: 0.3s;  
}
.formNews {
    width: 100%;
}
.dissapearUp{
    transform: translateY(-70vh);
    
}
.showFromUp{
    transform: translateY(0vh);
}

.back_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    background-origin: center;    
    background-image: url("/assets/contact.jpg");
    background-size: cover;
    
    background-repeat: no-repeat;
    z-index: -20;
    text-align: center;
    display: flex;    
    justify-content: center;  
   
}
.success_ask {
    font-family: Marcellus;
}
.img_logo{
    font-family: Marcellus;
    position: absolute;
    top: 15vh;    
    transition: 0.4s;
    font-size: 3.3rem; 

}


.contact_info{ 
    
    text-align: left; 
    width: fit-content;  
    height: fit-content;  
    color: black;    
    z-index: -1;   
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.096);
    box-shadow: 1px 1px 5px rgb(158, 158, 158);
    font-family: 'STIX Two Text', serif;

}
.contact_par{
    font-size: 1.3rem;
    
}
.ask_input{
    border: 1px solid rgb(94, 93, 93);
    background-color:rgba(0, 0, 0, 0.24);
    width: 100% !important;
    padding: 1rem;
    color: white;   
    outline: none;
    margin-bottom: 0.35rem;
}
.error_msg {
    margin-bottom: 1rem;
}
.news_input{
    border: 1px solid rgb(94, 93, 93);
    background-color:rgba(0, 0, 0, 0.24); 
    width: 80%; 
    display: block; 
    padding: 1rem;
    color: white;
    margin: 0 auto;
    margin-bottom: 1rem;
    outline: none;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.submit_ask_btn{
    float: right;
    margin-top: 1rem;
    border: 2px solid black !important;
    color: white;
    background-color: rgba(78, 78, 78, 0.24);

}

.next_btn{
    border: 2px solid black !important;
    color: white;
    background-color: rgba(78, 78, 78, 0.24);
}
.submit_news_btn{
    margin-top: 1rem;
    transition: 0.3s;
    border: 2px solid black !important;
    color: white;
    background-color: rgba(78, 78, 78, 0.486);
}
.newsletter_text{
    font-family: Marcellus;
    font-size: 1.35rem;
    color: black;
}

.text_area{    
    background-color:rgba(0, 0, 0, 0.24);
    color: white !important;
    outline: none;  
    width: 100%;
    font-size: 1rem !important;
    padding:1.3rem;
}
.cont_form_title{
    font-family: Marcellus;
    transition: 0.5s;
}
.success_msg{   
    position: relative; 
    text-align: center;    
    transition: 0.3s;      
    
}
.success_msg h2 {
    
    font-size: 2.0rem;
    margin-bottom: 0.35rem;  
    transition: 0.3s;   

}
.success_msg button {
    
    font-size: 1.3rem;
    transition: 0.3s;
    top: 0;    
    padding:0 1rem;       
}


.contact_tit{
    font-size: 1.6rem;
    color: black;    
}
.contact_form{       
    height: fit-content;

}

.cont_form_item{
    display: block;
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: black;
    
}
.newsletter_form{
    width: 100%;
    display: flex;
    padding:1rem;
    flex-direction:column;
    align-items: center;
    background-color: rgba(115, 169, 212, 0.46);
    box-shadow: 1px 1px 5px rgb(158, 158, 158);    
    z-index: -1; 
    margin-bottom: 2rem;  

}
.newsletter_form input::placeholder {
    color: white;
}
.contact_links{ 
    margin-bottom: auto;    
    transition: 0.3;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.80);     
    z-index: -1;  
    padding: 0;
    margin: 0;       
    display: flex;
    justify-content: center;  
    
    
}
.showFooter{
    position: absolute;
    margin-top: 1rem;
    bottom: 0;
}
.icon_wrapper{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    text-decoration: none;
}
.icon_item {
    font-size: 1.6rem;
    margin-top: 1rem;    
    padding: 0.35rem;
    transition: 0.3s;    
}
.fb_item{
transform: translateX(-1rem);
}
.tw_item{
    transform: translateY(1rem);
}
.ig_item {
    transform: translateX(1rem);
}
.fb {
    color:rgb(66, 103, 178) ;
}
.tw {
    color:rgb(116, 161,242) !important;
}
.ig {
    color:rgb(225, 48, 108) !important;
}

@keyframes moveRight {
    0%   { transform:translateX(-100%); }
    15% { transform:translateX(0%);}
    85% { transform:translateX(0%);}     
    100% { transform:translateX(100%);  }
  }
  .success_item{       
      animation: moveRight 4s linear 1 ;       
      animation: name duration timing-function delay iteration-count direction fill-mode; 
      }