

<div   class="container-fluid" (window:resize)="onResize($event)">
    <div  class="back_img" [style.height]="imgHeightOnResize+'px'" > 
        <h1 *ngIf="heightIsBig" class="img_logo" [ngClass]="{'dissapearUp': scrolledDown===true, 'showFromUp': scrolledDown===false}">Kontakt</h1>
        <div class="row info_container" #infoCont> 
            <div class="contact_info mt-3 offset-lg-1 col-lg-3 col-md-10 col-sm-10 col-xs-10">
                <h1 class="contact_tit">Základné informácie</h1>
                <p class="contact_par">Štúrovo námestie 15</p>
                <p class="contact_par">036 01 Martin</p>
                <p class="contact_par">Next Coffe <small>since 2021</small></p>
                <p class="contact_par">Prevádzkovateľ: Tvoj Tatko Records, s.r.o.</p>
            </div>
            <div align="center" [style.height]="infoMessage+'px'" *ngIf="!showContactForm" class="success_msg contact_form mt-3 offset-lg-1 col-lg-5">
                <h2 class="text-success success_ask" [style.transform]="fallDown">Správa bola odoslaná</h2>
                <button [style.transform]="fallDown" mat-button (click)="showAskForm()" class="next_btn success_ask">Ďalej</button>
            </div>
            <div *ngIf="showContactForm" class="contact_form mt-3 offset-lg-1 col-lg-5" #form >
                
                <h2 [style.margin-top]="titleMarginTop+'rem'" [style.margin-bottom]="titleMarginBottom+'rem'" class="cont_form_item cont_form_title">Kontaktný formulár!</h2>
               <!--<mat-form-field class="mat_form cont_form_item" appearance="fill" color="accent"> -->                 
                    <form name="contact" method="POST" data-netlify="true"  class="formAsk" [formGroup]="askForm">
                        
                        
                        <input name="emailQues" formControlName="emailAsk" class="ask_input" placeholder="Zadajte email, kde vám môžeme odpovedať" >
                        <div class="text-danger error_msg" *ngIf="emailAsk?.touched && emailAsk?.errors ">                
                            <ng-container
                            *ngIf="emailAsk?.errors?.required; then emptyDOM; else validate">
                          </ng-container>
                          <ng-template #emptyDOM>
                            <div>
                              * Mail je povinný údaj
                            </div>
                          </ng-template>
                          <ng-template #validate>
                            <div  *ngIf ="emailAsk?.errors?.emailError">
                              * Neplatný formát mailu
                            </div>
                          </ng-template>                          
                        </div>
                        
                        <input name="name" formControlName="name" class="ask_input" type="text" placeholder="Vaše meno">
                        <div class="text-danger error_msg" *ngIf="name?.touched && name?.errors?.required">* Zadajte prosím vaše meno</div>


                        <input name="subject" formControlName="subject"  class="ask_input" type="text" placeholder="Predmet správy">
                        <div class="text-danger error_msg" *ngIf="subject?.touched && subject?.errors?.required">* Zadajte prosím predmet správy</div>

                        
                        <textarea name="text" formControlName="text" #textArea placeholder="Na čo sa chcete opýtať?"  class="cont_form_item text_area textArea"  id=""   rows=20 ></textarea>
                        <div class="text-danger error_msg " *ngIf="text?.touched && text?.errors?.required">* Zadájte správu, na ktorú sa chcete opýtať.</div>

                        <button type="submit" (click)="sendQuestion(this.askForm.value,form)" [disabled]=!askForm.valid class="submit_ask_btn" mat-button>Odoslať</button>
                    </form >
                  <!-- </mat-form-field>     --> 
            </div>
            <div class="newsletter_form mt-3 col-12 ">
                <h2 class="newsletter_text">Chcete dostávať automaticky najnovšie akcie, zľavy, nové produkty a podobne?</h2>
                <p class="newsletter_text">Prihláste sa na odber našého newsletteru</p>
                <!--<mat-form-field class="mat_form cont_form_item" appearance="fill" color="accent"> --> 
                <form name="newsletter" method="POST" data-netlify="true" class="formNews" [formGroup]="newsletterForm">
                    <input name="email" formControlName="emailNews" class="news_input" type="text" placeholder="Zadajte mail, na ktorý vám budú automatický chodiť novinky">
                     <p *ngIf="subscriptionDone" class="mt-2 text-success success_item">Ďakujeme :)</p>                    
                    <button type="submit" (click)="subscribe(this.newsletterForm.value)"  [disabled]=!newsletterForm.valid class="submit_news_btn" mat-button>Odoberať</button>
                </form>
                <!-- </mat-form-field>     --> 
            </div>
            <div #footer [style.bottom]=0  class="contact_links col-12">
                <ul [style.width]="iconWrapperWidth+'%'" class="icon_wrapper">
                    <li [style.transform]="iconMoveRight" class="icon_item fb_item "><a href="https://www.facebook.com/" class=" fb fa fa-facebook"></a></li>
                    <li [style.transform]="iconMoveTop" class="icon_item tw_item "><a href="https://twitter.com/" class=" tw fa fa-twitter"></a></li>
                    <li [style.transform]="iconMoveLeft" class="icon_item ig_item "><a href="https://www.instagram.com/" class=" ig fa fa-instagram"></a></li>
                </ul>
    
            </div>
            
         </div>
    </div> 
    
         
    
</div>